<div class="container-fluid">
    <h3 class="text-center">LỊCH DẠY</h3>
    <div class="table-responsive card mt-5">
        <table class="table mb-0 table-hover" id="myTable">
            <thead class="thead-dark">
                <tr>
                    <th>#</th>
                    <th>Tên Lớp Học Phần</th>
                    <th>Thời Gian</th>
                    <th>Tiết</th>
                    <th>Phòng</th>
                    <th>Giáo Viên</th>
                    <th>Ngày Bắt Đầu</th>
                    <th>Ngày Kết Thúc</th>
                    <th>Mô Tả</th>
                </tr>
            </thead>
            <tbody>
                <%  const descriptions = [ ['1', 'Lý Thuyết',] ,['2', 'Thực Hành'], ['3', 'Bù']]
                    const dayOfWeek = [ 'Hai', 'Ba', 'Tư', 'Năm', 'Sáu', 'Bảy']
                    function getDayOfWeek(string){
                        const hasNumber = /\d/  
                        if(hasNumber.test(string)) {
                            return 'Thứ '+ dayOfWeek[(string.slice(-1)- 2)] 
                        } 
                        return 'Chủ Nhật'
                    }  
                    function formatDate(string,step){
                        const date = new Date(string)
                        
                        const day = `0${ date.getDate() }`.slice(-2);
                        const month = `0${ date.getMonth() + 1 }`.slice(-2);
                        const year = `${ date.getFullYear() }`;
                        
                        return `${day}${ step }${month}${ step }${year}`
                    }  

                    function selected(obj1,obj2) {
                        if (obj1 == obj2) 
                            return 'selected="selected"' 
                        return ''
                    }
                %> 

                <% calendars.forEach(function(module,indexM) { 
                    module.calendars.forEach(function(calendar,index){    
                %>
                <tr class="font-weight-bold" id="<%- calendar._id %>">
                    <% if (index == 0) { %> 
                        <th scope="row" class='align-middle'><%- indexM+1 %></th>
                        <td><%- module.nameModule.toUpperCase() %></td>
                    <% } else { %> 
                        <td></td>
                        <td></td>
                    <% } %>
                        <td><%= getDayOfWeek(calendar.dayOfWeek) %> </td>
                        <td><%- calendar.lesson %></td>
                        <td><%- calendar.classroom %></td>
                        <td><%- calendar.teacher.name %></td>
                        <td><%= formatDate(calendar.dateStart,'/') %></td>
                        <td><%= formatDate(calendar.dateEnd,'/') %></td>
                        <td><%- descriptions[calendar.description-1][1]  %></td>
                    </tr>
                <% }) %>
                <% if (calendars.length != indexM+1) {%>
                    <tr class="table-active">
                        <td colspan="9"></td>
                    </tr>
                <% } %>
            <% }); %>
            </tbody>
        </table>
    </div>
</div>